* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background-color);
    align-items: center;
    justify-content: center;
    gap: 15vh; /* Use 45% of the screen height */
}

.chart {
    padding: 2rem;
    /*border: 1px solid #f49131;*/
    border-radius: 0.5rem;
    background: #1c1c1e;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}
